.startPage {
	box-sizing: border-box;
	width: 100%;
	height: 50vh;
	margin-bottom: 15px;
	background: url('https://abg-landrover.ru/57bcffee-4f18-48c2-a316-f09eb5166bcf/637674833766202721PP_hu9982cd18570d6b18630c985c414f6807_200565_1600x0_resize_q80_lanczos.jpg');
	flex: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.startPage p {
	font-size: 40px;
	color: white;
	padding: 25px 0 0 25px;
}