.main {
	width: 80%;
	background-color: #d7d7d7;
	border: 1px solid black;
	color: black;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 0.1s;
}

.brandLabel {
	color: black;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
}

.brand {
	background-color: #e9e9e9;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
}


.modelLabel {
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 0.4s;
}

.model {
	background-color: #e9e9e9;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 0.4s;
}


.typeLabel {
	color: black;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 0.6s;
}

.type {
	background-color: #e9e9e9;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 0.6s;
}


.year {
	background-color: #e9e9e9;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 0.8s;
}


.amountOfOwners {
	background-color: #e9e9e9;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}


.description {
	background-color: #e9e9e9;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 1.2s;
}


.price {
	background-color: #e9e9e9;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 1.4s;
}


.mileage {
	background-color: #e9e9e9;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 1.6s;
}


.image {
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 1.8s;
}


.addButton {
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

@keyframes show{
	0%{
	opacity:0;
	}
	100% {
	opacity:1;
	}
	}