.typeBar {
	margin-bottom: 50px;
	font-size: 30px;
}

.types {
	display: flex;
	width: 150px;
	height: 100px;
	background-color: white;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 1s;
	animation: show 3s 1;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
}

@keyframes show{
	0%{
	opacity:0;
	}
	100% {
	opacity:1;
	}
	}

.title {
	text-transform: capitalize;	
	font-size: 25px;
}